@font-face {
    font-family: 'Tanker-Regular';
    src: url('./fonts/Tanker-Regular.woff2') format('woff2'),
    url('./fonts/Tanker-Regular.woff') format('woff'),
    url('./fonts/Tanker-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.main__container {
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: 'Tanker-Regular', serif;
    font-weight: 400;
    font-size: 256px;
    line-height: 100%;
    letter-spacing: 0%;

}

.description {
    font-family: Geologica, sans-serif;
}