.main__container {
    background-color: #FFF0E8;
}

.description {
    max-width: 234px;
    margin-bottom: 32px;
}

.intro__subtitle {
    font-size: 128px;
    line-height: 1;
    display: block;
}